.site-nav {
    background:#fff;
    height:80px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;
    
    .caret {
        opacity:0.2;
    }
    
    .brand img {
        height:40px;
        margin-right:10px;
        margin-top:-2px;
    }
    
    .dropdown {
        display:inline-block;
    }
    
    nav {
        padding:22px 30px;
        float:left;
        height:80px;
        display:table-cell;
    }
    
    #navigation {
        padding-right:0;

        ul {
          display: inline;
        }

        ul li {
          display: inline;
        
          a {
            color: #444;
            border:0;
            padding:0.5em 0.9em;
            display:inline-block;

            &.active {
                background: #ccc;
                box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
                border-radius:10px;
            }
            
            &:hover {
                color:$accent;
            }
          }
        }
        
        > a, .dropdown-toggle  {
            color:#444;
            border:0;
            font-weight:600;
            font-size:15px;
            display:inline-block;
        }
        
        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;
            
            &:hover {
                background:#eee;
            }
        }
    }
    
    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;
        margin-top: 0.7em;
        
        span {
            line-height:0;
            padding-right:20px;
        }
    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}

/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .site-nav #navigation ul li,
  .site-nav #navigation ul { display: block; background: #fff; }
  .nav-collapse li {
    width: 25%;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
  .brand img { display: none }

  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }

  .nav-collapse ul ul a {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .site-nav #navigation ul li { display: block; }

  .nav-collapse li {
    width: 25%;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
  .brand { display: none }

  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }

  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("/css/icons/responsivenav.eot");
  src:url("/css/icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("/css/icons/responsivenav.ttf") format("truetype"),
    url("/css/icons/responsivenav.woff") format("woff"),
    url("/css/icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #f4421a; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}

